/*
 ! sectionOne
*/

.sectionOne__left--text{
    font-size: var(--body);
    font-family: var(--font-2);
    color: var(--color-white-75);
}

.sectionOne_left--btn{
    align-self:start;
    margin-top :20px;
}

/*
 ! sectionTwo
*/